# Python
__pycache__/
*.pyc
*.pyo
.Python

# Entornos virtuales
venv/
env/

# IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de respaldo
*.bak
*.backup
*.tmp

# Logs
*.log

#simulacion de datos
./simulacionDeDatos/